*{
    font-family:'poppins' sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color: bisque;
    display:flex;
    align-items: center;
    justify-content: center;
}
.calculator{
        background:rgb(41, 41, 41);
        padding:25px;
        border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width:60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -9px -9px 15px rgba(255, 255, 255, 0.2);
    background: transparent;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    margin:10px;

}

form.area{
    display: flex;
    justify-content: flex-end;
    margin:15px 0;
    
    
}

form.area input{
    text-align: right;
    flex:1;
    font-size: 45px;
    background-color: azure;
    box-shadow: none;
}
 form input.operator{
    color:rgb(132, 164, 164);
}
form input.clear{
    color:red
}
form input.space{
    width:300px;
    border-radius: 10px;
    text-align: right;
}